
ul.ed-menu.web-horizontal.web-main-end
	each pagina in paginas
		if pagina == "inicio"
			if pagina == paginaActual
				li: a.selected(href="index.html") #{pagina}
			else 
				li: a(href="index.html") #{pagina}
		else if pagina == paginaActual
			li: a.selected(href="#{pagina}.html") #{pagina}
		else
			li: a(href="#{pagina}.html") #{pagina}
